In [1]:
import random
import math

import pandas as pd
import numpy as np

In [2]:
seed = "АДВИ_2023"
random.seed(a=seed)

In [3]:
N = 1000

In [4]:
index = list(range(1, N + 1))
random.shuffle(index)

In [5]:
groups = random.choices(["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], k=N)

In [6]:
uniform = [random.randint(50, 100) for _ in range(N)]

In [7]:
gauss_1 = [random.gauss(0, 1) for _ in range(N)]
gauss_2 = [random.gauss(0, 12) for _ in range(N)]
gauss_3 = [random.gauss(50, 9) for _ in range(N)]

In [8]:
df = pd.DataFrame({'groups': groups,
                   'uniform': uniform,
                   'gauss_1': gauss_1,
                   'gauss_2': gauss_2,
                   'gauss_3': gauss_3},
                  index=index)

In [9]:
df.head()

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 476 to 587
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   groups   1000 non-null   object
 1   uniform  1000 non-null   int64
 2   gauss_1  1000 non-null   float64
 3   gauss_2  1000 non-null   float64
 4   gauss_3  1000 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 46.9+ KB

In [11]:
gauss_1_indexes = df[df.index % 121 == 0].index
df.loc[gauss_1_indexes, 'gauss_1'] = None

In [12]:
df['gauss_2'] = df['gauss_2'].apply(lambda row: None if row > 0 and row - math.floor(row) > 0.95 else row)

In [13]:
df['gauss_2'].fillna(df['gauss_2'].mean(), inplace=True)

In [14]:
df.dropna(subset='gauss_1', inplace=True)

In [15]:
df.head()

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052

1. Сколько всего получилось записей в таблице после выполнения всех пунктов из условия?

In [16]:
df.shape[0]

992

2. Для колонки gauss_2 посчитать среднее и среднеквадратическое отклонение.

Результаты необходимо написать в одну ячейку, разделенные пробелом, сначала среднее потом среднеквадратическое отклонение. Результаты округлить до сотых. Для дробной части использовать точку, как разделитель.

In [17]:
round(df['gauss_2'].mean(), 2), round(df['gauss_2'].std(), 2)

(-0.47, 12.07)

3. Какая группа встречается чаще всего и сколько раз?

Сначала вывести название группы, через пробел указать целое число.

In [18]:
df.groupby('groups').size().sort_values(ascending=False)

groups
группа_4    222
группа_1    215
группа_2    194
группа_3    184
группа_5    177
dtype: int64

4.  Для группа_5 вывести самый "ранний" (наименьший) индекс.

In [19]:
df[df['groups'] == 'группа_5'].index.min()

6

5. Сколько записей из колонки uniform имеют значение не ниже значения 90% перцентиля?

In [20]:
df[df['uniform'] >= np.percentile(df['uniform'].values, 90)].shape[0]

118

6. У какой группы наибольшее значение медианы для gauss_3?

Вывести это значение вместе с группой. Сначала группа, через пробел значение медианы (результат округлить до сотых , для дробной части использовать точку, как разделитель)

In [21]:
df.groupby('groups').median()['gauss_3'].sort_values(ascending=False)

groups
группа_2    49.990529
группа_5    49.936910
группа_1    49.876708
группа_3    49.459261
группа_4    49.069511
Name: gauss_3, dtype: float64

7. У какой группы наибольшее минимальное значение uniform?

Если такого нет, выбрать группу наибольшим минимальным значением в gauss_1.

Ответ дать в виде группы, через пробел указать значение в gauss_2 (результат округлить до сотых, для дробной части использовать точку, как разделитель)

In [22]:
df.groupby('groups').min()['uniform']

groups
группа_1    50
группа_2    50
группа_3    50
группа_4    50
группа_5    50
Name: uniform, dtype: int64

In [23]:
df.groupby('groups').min()['gauss_1'].sort_values(ascending=False)

groups
группа_3   -2.606773
группа_5   -2.639733
группа_2   -2.692705
группа_1   -3.628448
группа_4   -3.933254
Name: gauss_1, dtype: float64

In [24]:
df.groupby('groups').min()

          uniform   gauss_1    gauss_2    gauss_3
groups
группа_1       50 -3.628448 -22.109394  21.111701
группа_2       50 -2.692705 -38.365537  26.063885
группа_3       50 -2.606773 -36.187520  27.741795
группа_4       50 -3.933254 -29.901064  19.682732
группа_5       50 -2.639733 -40.394911  29.945906

8. Создать новую колонку gauss где значения будут получаться из (gauss_1 + gauss_2) / gauss_3

Чему будет равен 70% перцентиль (результат округлить до сотых, для дробной части использовать точку, как разделитель)?

In [25]:
df['gauss'] = (df['gauss_1'] + df['gauss_2']) / df['gauss_3']

In [26]:
np.percentile(df['gauss'].values, 70)

0.10641825158661447